@media screen and (max-width: 1000px) {
    
:root{
    --ff: 'Kumbh Sans', sans-serif;
    --vdgb: hsl(237, 12%, 33%);
    --dgb: hsl(240, 6%, 50%);
    --divider-color: hsl(240, 5%, 91%);
    --sr: hsl(14, 88%, 65%);
    --fs: 12px;
    --fs1: 1rem;
    --fs2: 2rem;
}

body{
    background-color:hsl(273, 75%, 66%);
    font-family: var(--ff);
    overflow: hidden;
}

.container{
    margin: 10rem 2rem 5rem 2rem;
    flex-direction: column;
    /* height: 600px; */
    padding-bottom: 3rem;
}

.left-images{
    background: url(/img/bg-pattern-mobile.svg) no-repeat center;
    position: relative;
    top: -11.5rem;
    left: 0;
    width: 230px;
}

.box{
    position: absolute;
    top: 8.5rem;
    left: -1rem;
    width: 100px;
}

.right-content{
    padding: 0;
    margin-top: -5rem;
}

.right-content h1{
   text-align: center;
   margin: 0;
   padding-bottom: 2rem;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    font-size: var(--fs);
    padding: 0.2rem 0 0.2rem 0;
}

.content1, .content2, .content3, .content4, .content5{
    padding: 0.4rem 0.4rem 0.4rem 0.4rem;
    margin: 0 1rem;
    cursor: pointer;
}

.active-paragraph1, .active-paragraph2, .active-paragraph3, .active-paragraph4, .active-paragraph5{
    font-size: var(--fs);
}

.active-paragraph1.active, .active-paragraph2.active, .active-paragraph3.active, .active-paragraph4.active, .active-paragraph5.active{
    display: block;
    max-width: 425px;
}

.right-content p{
    color: var(--vdgb);
}

.arrow-down1, .arrow-down2, .arrow-down3, .arrow-down4, .arrow-down5{
    transition: 300ms ease-in-out;
}

.arrow-down1.active, .arrow-down2.active, .arrow-down3.active, .arrow-down4.active, .arrow-down5.active{
    transform: rotate(180deg);
    transition: 300ms ease-in-out;
}
    
}